<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Админ</title>
  </head>
  <body>
    Hello, <span th:text="${username}" th:remove="tag">username</span>!
    <a th:href="@{/auth/web/logout}">Выход</a>
    <br />
    <br />
    <a th:href="@{/admin/users}">Пользователи</a>
    <br />
    <br />
    <a th:href="@{/admin/suppliers}">Поставщики</a>
    <br />
    <br />
    <!-- при клике на поставщика выводить его список продуктов -->
    <a th:href="@{/admin/orders}">Заказы</a>
  </body>
</html>
