<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заявки</title>
  </head>
  <body>
    <h1>Завяки</h1>

    <a th:href="@{/admin}"> На главную </a>

    <br />
    <br />

    <table border="1" cellpadding="5 10">
      <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Действия</th>
      </tr>

      <tr th:each="request : ${requests}">
        <td th:text="${request.id}"></td>
        <td th:text="${request.user.username}"></td>
        <td style="display: flex; gap: 8px">
          <form
            method="POST"
            th:action="@{/admin/supplier-requests/approve/{requestId}(requestId=${request.id})}"
          >
            <button
              type="submit"
              name="submit"
              value="value"
              class="link-button"
            >
              Подтвердить
            </button>
          </form>
          |
          <form
            method="POST"
            th:action="@{/admin/supplier-requests/reject/{requestId}(requestId=${request.id})}"
          >
            <button
              type="submit"
              name="submit"
              value="value"
              class="link-button"
            >
              Отклонить
            </button>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
