<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Пользователь</title>
  </head>
  <body>
    <div>
      Привет, <span th:text="${username}" th:remove="tag">username</span>!
      <a th:href="@{/auth/web/logout}">Выход</a>
    </div>

    <br />

    <div th:if="${status == null}">
      Хотите стать поставщиком?
      <a th:href="@{/user/supplier-request}">Подать заявку</a>
    </div>

    <div th:if="${status}">
      Завяка на роль поставщика: в ожидании подтверждения администратором
    </div>
  </body>
</html>
