<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Изменение данных о пользователе</title>
  </head>
  <body>
    <h1>Изменение данных о пользователе</h1>
    <form th:action="@{/admin/users/save}" th:object="${user}" method="post">
      <input type="hidden" th:field="*{id}" />
      <div>
        <label>Логин:</label>
        <input type="text" th:field="*{username}" />
      </div>
      <div>
        <label>Почта:</label>
        <input type="text" th:field="*{email}" />
      </div>

      <div>
        <label>Роль:</label>
        <select th:field="*{role}">
          <option
            th:each="role : ${roles}"
            th:value="${role}"
            th:text="${role}"
          ></option>
        </select>
      </div>

      <div>
        <button type="submit">Save</button>
      </div>
    </form>
  </body>
</html>
